body {
    margin:0;
}

h1
nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
span {
    font-size: 30px;
    font-weight: bold;
}

ul.menu {
    display: flex;
    gap: 32px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

div {
    width: 360px;
    border: 2px solid wheat;
    text-align: center;
    background-color: black;
    color: white;
    font-style: oblique;

}
.lobo {
    img{
        width: 360px;
    }
}
/* 
ul{
    list-style: none; "quitar los puntos de la lista" */

    button{
        background-color: black;
        color: white;
        display:block;
        margin: 10px auto;
        cursor: pointer;
        width: 200px;
        font-style: oblique;
    }