*{
    margin: 0;  /* margen de la pagina */
    padding: 0; /* espacio por dentro de la pagina */
    box-sizing: border-box;

}

.header {
    padding: 30px;
    }

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_list {
    display: flex;
    gap: 20px;

}

.menu_items {
    list-style: none;
}